/*variables/_colors.scss */

/* Main Colors */
$light-primary-color: white;
$dark-primary-color: black;
$light-key-color: #B68DE3;
$dark-key-color: #8765B2;


//SF Pole and Dance Colors
$white: #ffffff;
$black: #000000;

$purple: #9D6BDB;
$darker-purple: #543889; //change

// Usage for SFPD
$primary-color: $purple; //purple
$hover-primary-color: $darker-purple; //purple
